.main-container {
    height: 68vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.main-content {
    position: absolute;
    top: 11rem;
    right: 42rem;
}

.main-text {
    text-align: center;
    z-index: 1;
}

.main-text > h1 {
    font-size: 150px;
    font-family: "Dosis", sans-serif;
    color: #fff;
    -webkit-text-stroke: 2px var(--text-main);
    letter-spacing: -0.35rem;
}

.main-text > h2 {
    margin-top: 8px;
    margin-bottom: -30px;
    color: #252525;
    font-size: 45px;
    font-family: "Dosis", sans-serif;
}

.deco-cursor {
    width: 425px;
    height: 55px;
    position: absolute;
    left: 120px;
    top: 10px;
    z-index: 2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgba(68, 104, 164, 0.25);
    cursor: default;
}

.deco-cursor-line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #4468a4;
}

.deco-cursor-text {
    position: absolute;
    top: -28px;
    margin-bottom: 0;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #4468a4;
    color: #fff;
}

.deco-cursor-text-block {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-weight: 500;
}

.link-to-about-us {
    text-decoration: none;
    color: #fff;
}

.main-image {
    position: absolute;
    left: calc(38rem);
    bottom: calc(28rem);
}

.main-image-png {
    height: 580px;
}

.main-btns {
    display: flex;
    justify-content: flex-end;
}

.main-btns .btn {
    margin: 0 6px;
}

.chat-icon {
    margin-left: 7px;
}

@media screen and (max-width: 1920px) {
    .main-content {
        position: absolute;
        top: 10rem;
        right: 4rem;
    }
    .main-image {
        position: absolute;
        bottom: calc(4rem);
        left: calc(7rem);
        z-index: -1;
    }
    .main-image-png {
        height: 500px;
    }
}

@media screen and (max-height: 960px) {
    .main-container {
        height: 90vh;
    }

    .main-content {
        position: absolute;
        top: 10rem;
        right: 10rem;
    }

    .main-image {
        position: absolute;
        left: calc(7rem);
        bottom: calc(4rem);
    }

    .main-image-png {
        height: 500px;
    }
}
/*
@media screen and (max-width: 768px) {
    .main-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .main-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
*/
