.navbar {
    /*background-color: var(--secondary-dark);*/
    /*background-color: #fff;*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1200px;
}

.navbar-logo {
    /*color: #fff;*/
    color: var(--secondary-dark);
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    letter-spacing: -0.1rem;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.login-btn-link {
    text-decoration: none;
    /*color: var(--text-main);*/
    color: #fff;
}

.nav-links {
    /*color: #fff;*/
    color: var(--text-main);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}
/*
.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}
*/

.navbar-profile-box {
    display: flex;
    align-items: center;
}

.fa-user {
    /*color: #fff;*/
    color: var(--text-main);
    margin-right: 1rem;
}

.navbar-profile {
    /*color: #fff;*/
    color: var(--text-main);
    margin-right: 2rem;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-profile:hover {
    /*color: var(--secondary-light);*/
    color: var(--secondary-medium);
    transition: all 0.2s ease-out;
}

.navbar-profile-dropdown {
    position: absolute;
    margin-top: 17rem;
    margin-left: -1.4rem;
    width: 150px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--secondary-very-light);
}

.navbar-profile-dropdown::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--secondary-very-light);
    width: 20px;
    height: 20px;
    top: -0.4rem;
    margin-left: 0.3rem;
}

.profile-menu-list {
    list-style: none;
}

.profile-menu-list-item {
    /*text-align: center;*/
    margin: 1rem 0;
    padding: 0 10px;
}

.profile-menu-list-item a {
    text-decoration: none;
    color: var(--text-main);
}

/* Mobile */

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-height: 960px) {
    .nav-menu {
    }
}
/*
@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        justify-content: flex-start;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20%, 17%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 80%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}
*/
